* {
	font-family: 'Roboto', sans-serif;
	font-family: 'Exo 2', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: rgba(10,10,10,.9);
	scroll-behavior: smooth;
}

body {
	background-color: rgba(240,240,240,.69);
	width: 100vw;
	overflow-x: hidden;
}

#mydisclaimer {
	font-size: .8rem;
}

#mygethelp-immediate {
	background-color: transparent;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, .2);
	color: hsla(348, 90%, 50%,.9);
	border: 2px dashed hsla(348, 90%, 50%,.9);
	font-weight: bolder;
	height: 3rem;
	margin: 0 auto;
	margin-top: 1rem;
	text-align: center;
	padding: 0 1rem 0 1rem;
	text-transform: uppercase;
}

#mygethelp-immediate:hover{
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
	border: 1px solid hsla(350, 100%, 50%,1);
	background-color: hsla(350, 100%, 50%,1);
	color: hsla(360, 100%, 100%,1);
	transition: .3s;
}

#mybacktotop {
	text-decoration: none;
	color: rgba(100,10,10,.5);
	font-size: xx-large;
}

#mybacktotop:hover {
	color: rgba(100,10,10,1);
	text-shadow: 1px 1px 1px rgba(10,10,10,1);
	transition: .3s;
}

.btn-info {
	border: 1px solid hsla(200, 100%, 40%,1);
	border-radius: 100px;
	background-color: hsla(196, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.9);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

.btn-info:hover{
	background-color: hsla(205, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.95);
	transition: .3s;
}

.modal-header {
	background-color: hsla(196, 100%, 85%,1);
}

.modal-footer {
	background-color: rgba(240,240,240,.69);
}

#no-background {
	background-color: transparent;
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

#mymain-container {
	background-color: transparent;
	box-shadow: inset 0 0 10px 0 hsla(0, 0%, 0%,.3);
	border: 1px solid hsla(0, 0%, 0%,.3);
	font-family: 'Roboto', sans-serif;
	padding: 1rem;
}

/*for mylanding*/
/*left side*/
#mylanding-left {
	background-color: hsla(196, 100%, 85%,1);
	background-color: linear-gradient(90deg, rgba(179,241,255,1) 0%, rgba(113,220,244,1) 50%, rgba(60,191,221,1) 100%);
	box-shadow: inset 0 0 10px 0 hsla(196, 100%, 45%,.3);
	border: 1px solid hsla(0, 0%, 0%,.3);
}

#mylanding-carousel img {
	border-radius: 5px;
}

#mylanding-left-header {
	font-size: xx-large;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(10,10,10,.9);
}

#mylanding-left-subheader {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

/*end left side*/

/*right side*/
#mylanding-right {
	background-color: transparent;
	box-shadow: inset 0 0 10px 0 hsla(0, 0%, 0%,.3);
	border: 1px solid hsla(0, 0%, 0%,.3);
}

#mylanding-right-header {
	font-size: xx-large;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(10,10,10,.9);
}

#mylanding-username {
	box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%,.3);
}

#mylanding-username:focus{
	box-shadow: 0 0 0 3px hsla(196, 100%, 65%,.3);
}

#mylanding-password {
	box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%,.3);
}

#mylanding-password:focus{
	box-shadow: 0 0 0 3px hsla(196, 100%, 65%,.3);
}

#mylanding-login {
	border: 1px solid hsla(200, 100%, 40%,1);
	border-radius: 100px;
	background-color: hsla(205, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.95);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#mylanding-login:hover{
	background-color: hsla(210, 100%, 50%,1);
	color: hsla(360, 100%, 100%,1);
	transition: .3s;
}

#mylanding-join {
	border: 1px solid hsla(200, 100%, 40%,1);
	border-radius: 100px;
	background-color: hsla(196, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.9);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#mylanding-join:hover{
	background-color: hsla(205, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.95);
	transition: .3s;
}

#mylanding-volunteer {
	border: 1px solid hsla(348, 90%, 70%,1);
	border-radius: 100px;
	background-color: transparent;
	color: hsla(348, 90%, 70%,1);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#mylanding-volunteer:hover{
	border: 1px solid hsla(348, 90%, 70%,1);
	background-color: hsla(348, 90%, 70%,1);
	color: hsla(360, 100%, 100%,.9);
	transition: .3s;
}

#mylanding-donate {
	border: 1px solid hsla(348, 90%, 50%,.9);
	border-radius: 100px;
	background-color: hsla(348, 90%, 50%,.9);
	color: hsla(360, 100%, 100%,.85);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#mylanding-donate:hover{
	border: 1px solid hsla(350, 100%, 50%,1);
	background-color: hsla(350, 100%, 50%,1);
	color: hsla(360, 100%, 100%,1);
	transition: .3s;
}

#mylanding-click-volunteer {
	border: 1px solid hsla(200, 100%, 40%,1);
	border-radius: 100px;
	background-color: hsla(196, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.9);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#mylanding-click-volunteer:hover{
	background-color: hsla(205, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.95);
	transition: .3s;
}

#mylanding-click-close {
	border: none;
}

#mylanding-click-close:hover {
	background-color: inherit;
	color: inherit;
}
/*end of right side*/
/*end mylanding*/



/*for myhome*/
/*for header*/
#myhome-banner {
	background-color: hsla(191,100%,85%, 1);
	background-color: linear-gradient(90deg, rgba(179,241,255,1) 0%, rgba(113,220,244,1) 50%, rgba(60,191,221,1) 100%);
	box-shadow: inset 0 0px 5px 1px hsla(191,100%,60%, .3);
}

#myhome-logo {
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(10,10,10,.9);
}

#myhome-logo a{
	text-decoration: none;
	color: inherit;
}

#myhome-logo h1{
	font-weight: bolder;
}

#myhome-nav {
	text-align: center;
}

#myhome-nav a{
	text-decoration: none;
	color: rgba(10,10,10,.8);
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(10,10,10,.8);
	border-top: 1px solid rgba(10,10,10,.1);
	border-bottom: 1px solid rgba(10,10,10,.1);
}

#myhome-nav a:hover{
	border-top: 3px solid rgba(10,10,10,1);
	border-bottom: 3px solid rgba(10,10,10,1);
	color: rgba(0,0,0,1);
	text-shadow: 1px 1px 3px rgba(10,10,10,1);
	text-transform: uppercase;
	transition: .23s;
	padding-top: .2rem;
	padding-bottom: .2rem;
}

#myhome-nav #myhome-nav-logout {
	font-weight: lighter;
	text-shadow: none;
	letter-spacing: none;
	border: 0;
	font-size: x-small;
	padding: 0;
}

#myhome-nav #myhome-nav-logout:hover{
	text-transform: none;
}
/*end of header*/

/*for preview*/
#myhome-preview {
	background-color: transparent;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	padding: 0;
}

#myhome-accordion {
	margin: 0;
	padding: 0;
}

.myhome-preview-leftside .card {
	border: transparent;
	background-color: transparent;
}

.myhome-preview-leftside .card-header {
	border: transparent;
	background-color: transparent;
}

.myhome-preview-leftside .card-body {
	border: transparent;
	background-color: transparent;
}

#myhome-mh-box {
	padding: 0;
}

#myhome-ews-box {
	padding: 0;
}

#myhome-mhnw-box {
	padding: 0;
}

#myhome-button1 {
	border: 1px solid hsla(200, 100%, 40%,1);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: hsla(196, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.9);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#myhome-button1:hover{
	background-color: hsla(205, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.95);
	transition: .3s;
}

#myhome-button2 {
	border: 1px solid hsla(200, 100%, 40%,1);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: hsla(196, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.9);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#myhome-button2:hover{
	background-color: hsla(205, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.95);
	transition: .3s;
}

#myhome-preview ul{
	font-size: 90%;
}

#myhome-preview p{
	font-size: 95%;
}

.myhome-preview-article {
	opacity: .9;
	margin: 1rem;
	height: 10rem;
}

.myhome-preview-article img{
	height: 10rem;
	width: 15rem;
}

.myhome-preview-article:hover {
	opacity: 1;
}

.myhome-preview-article a{
	text-decoration: none;
}

.myhome-textcolor {
	color: rgba(10,10,10,.9);
}

.myhome-textcolor:hover {
	color: rgba(0,0,0,1);
	font-weight: bolder;
	transition: .2s;
}
/*end of preview*/
/*end of myhome*/



/*gethelp*/
/*content*/
#mygethelp-content {
	background-color: transparent;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	padding: 0;
}

#mygethelp-top {
	text-decoration: none;
	color: rgba(100,10,10,.5);
	font-size: x-large;
}

#mygethelp-top:hover {
	color: rgba(100,10,10,1);
	text-shadow: 1px 1px 1px rgba(10,10,10,1);
	transition: .3s;
}

#mygethelp-content .card{
	border: transparent;
	background-color: transparent;
}

#mygethelp-content .card-header{
	border: transparent;
	background-color: transparent;
}

#mygethelp-content .card-body{
	background-color: transparent;
}

#mygethelp-content h3{
	font-weight: bolder;
	letter-spacing: 1px;
	text-shadow: 0px 0px 1px rgba(10,10,10,.9);
}

#mygethelp-content h5{
	font-weight: bold;
	text-shadow: 0px 0px 1px rgba(10,10,10,.9);
}

#mygethelp-content ul {
	font-size: 90%;
}

#mygethelp-button1 {
	border: 1px solid hsla(200, 100%, 40%,1);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: hsla(196, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.9);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#mygethelp-button1:hover{
	background-color: hsla(205, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.95);
	transition: .3s;
}

#mygethelp-button2 {
	border: 1px solid hsla(200, 100%, 40%,1);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: hsla(196, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.9);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#mygethelp-button2:hover{
	background-color: hsla(205, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.95);
	transition: .3s;
}

#mygethelp-button3 {
	border: 1px solid hsla(200, 100%, 40%,1);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: hsla(196, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.9);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#mygethelp-button3:hover{
	background-color: hsla(205, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.95);
	transition: .3s;
}

#mygethelp-button4 {
	border: 1px solid hsla(200, 100%, 40%,1);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: hsla(196, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.9);
	font-weight: bold;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
}

#mygethelp-button4:hover{
	background-color: hsla(205, 100%, 50%,1);
	color: hsla(360, 100%, 100%,.95);
	transition: .3s;
}
#mygethelp-content p{
	margin: 0;
}

#mygethelp-accordion {
	margin: 0;
	padding: 0;
}

#mygethelp-accordion table{
	table-layout: fixed;
}

#mygethelp-accordion td{
	word-wrap: break-word;
}
/*end of content*/
/*end of gethelp*/



/*read*/
#myread-content {
	background-color: transparent;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	padding: 0;
}

#myread-content .getbig{
	font-size: 170%;
	font-weight: bolder;
	text-shadow: 0px 0px 1px rgba(10,10,10,.9);
}

#myread-content p{
	margin-top: 1rem;
}

#myread-content h1{
	font-weight: bolder;
	letter-spacing: 1px;
	text-shadow: 0px 0px 1px rgba(10,10,10,.9);
}

#myread-content h4{
	text-shadow: 0px 0px 1px rgba(10,10,10,.9);
}


#myread-content h3{
	margin-top: 2rem;
	font-weight: bold;
	text-shadow: 0px 0px 1px rgba(10,10,10,.9);
}

#myread-content ul {
	font-size: 90%;
}

.myread-image {
	max-height: 20rem;
	max-width: 20rem;
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#myread-content #myread-latestarticle {
	font-family: 'Exo 2', sans-serif;
	letter-spacing: 1px;
	text-shadow: 1px 1px 3px rgba(10,10,10,.69);
}

#myread-article-all .myread-comment-reply {
	border-left: 1px solid rgba(10,10,10,.8);
}

#myread-content .card {
	border: transparent;
	background-color: transparent;
}

#myread-content .card-header {
	border: transparent;
	background-color: transparent;
}

#myread-content .card-body {
	border: transparent;
	background-color: transparent;
}

/*#myread-article1-background {
	background-color: rgba(240,240,240,.8);
	border-radius: 10px;
	box-shadow: inset 0 0 5px 0 rgba(10,10,10,.3);
}

#myread-article2-background {
	background-color: rgba(240,240,240,.8);
	border-radius: 10px;
	box-shadow: inset 0 0 5px 0 rgba(10,10,10,.3);
}

#myread-article3-background {
	background-color: rgba(240,240,240,.8);
	border-radius: 10px;
	box-shadow: inset 0 0 5px 0 rgba(10,10,10,.3);
}

#myread-article4-background {
	background-color: rgba(240,240,240,.8);
	border-radius: 10px;
	box-shadow: inset 0 0 5px 0 rgba(10,10,10,.3);
}*/
/*/end of read*/



/*mycommunity*/
#mycommunity-content {
	background-color: transparent;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	padding: 0;
}

#mycommunity-content .card{
	height: 17rem; 
	width: 17rem;
}
/*end of mycommunity*/



/*ACTIVE PAGE*/
#myhome-nav #myhome-nav-active {
	text-transform: uppercase;
	padding-top: .2rem;
	padding-bottom: .2rem;
	border-top: 3px solid rgba(10,10,10,1);
	border-bottom: 3px solid rgba(10,10,10,1);
	color: rgba(0,0,0,1);
}
/*end of active page*/



/*CUSTOM SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 1.4rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: hsla(191, 100%, 85%,.2); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: hsla(191, 100%, 85%,.3);
}
/*end of custom scrollbar*/



/*Desktop Styles*/
@media only screen and (min-width: 992px){
	/*for mylanding*/
	#mylanding-carousel {
		width: 65%;
	}

	#mylanding-carousel img{
		height: 15.5rem;
	}

	#mylanding-left {
		font-size: 1.3rem;
		height: 96vh;
	}

	#mylanding-left-header {
		font-size: 2.4rem;
		font-weight: bolder;
	}

	#mylanding-right {
		font-size: 1.2rem;
		height: 96vh;
	}

	#mylanding-right-text {
		padding-top: 11rem;
	}

	#mylanding-right-header {
		font-size: 2rem;
		font-weight: bolder;
	}

	#mylanding-left-subheader p{
		margin-bottom: 2.3rem;
	}
	/*end of mylanding */

	/*for myhome*/
	#myhome-nav a{
		font-size: 1.5rem;
	}

	#myhome-preview {
		height: 100%;
	}
	/*end of myhome*/

	/*mygethelp*/
	#mygethelp-content {
		height: 100%;
	}
	/*end of mygethelp*/

	/*mycommunity*/
	#mycommunity-content {
		height: 100%;
	}
	/*end of mycommunity*/

	/*myread*/
	#myread-content {
		height: 100%;
	}

	#myread-article3 {
		padding-top: 4rem;
		margin-top: 4rem;
	}

	#myread-article2 {
		padding-top: 4rem;
		margin-top: 4rem;
	}

	#myread-article1 {
		padding-top: 4rem;
		margin-top: 4rem;
	}.5
	/*end of myread*/
}

/*Tablet Styles*/
@media only screen and (min-width: 577px) and (max-width: 991px){
	/*for mylanding*/
	#mylanding-carousel {
		width: 70%;
	}

	#mylanding-carousel img {
		height: 20rem;
	}

	#mylanding-left {
		font-size: 1.1rem;
	}

	#mylanding-left-header {
		font-size: 2rem;
		font-weight: bolder;
	}

	#mylanding-right {
		font-size: 1.1rem;
	}

	#mylanding-right-text {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	#mylanding-right-header {
		font-size: 1.5rem;
		font-weight: bolder;
	}

	#mylanding-left-subheader p{
		margin-bottom: 1.4rem;
	}
	/*end of mylanding */

	/*for myhome*/

	/*end of myhome*/

	/*my gethelp*/
	
	/*end of mygethelp*/

	/*myread*/
	#myread-article3 {
		padding-top: 4rem;
		margin-top: 4rem;
	}

	#myread-article2 {
		padding-top: 4rem;
		margin-top: 4rem;
	}

	#myread-article1 {
		padding-top: 4rem;
		margin-top: 4rem;
	}
	/*end myread*/
}

/*Mobile Styles*/
@media only screen and (max-width: 576px){
	/*for mylanding*/
	#mylanding-carousel {
		width: 70%;
	}

	#mylanding-carousel img {
		height: 10rem;
	}

	#mylanding-left {
		font-size: .75rem;
		padding-bottom: 0;
	}

	#mylanding-left-header {
		font-size: 1.3rem;
		font-weight: bolder;
	}

	#mylanding-right {
		font-size: .75rem;
	}

	#mylanding-right-header {
		font-size: 1.2rem;
		font-weight: bolder;
	}

	#mylanding-right-text {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	#mylanding-join {
		font-size: 1rem;
		font-weight: bolder;
	}

	#mylanding-volunteer {
		font-size: 1rem;
		font-weight: bolder;
	}

	#mylanding-donate {
		font-size: 1rem;
		font-weight: bolder;
	}
	/*end of mylanding */

	/*for myhome*/
	#myhome-nav a{
		font-size: .85rem;
	}

	#myhome-preview {
		font-size: 90%;
	}

	.myhome-preview-article {
		height: 24rem;
	}

	/*end of myhome*/

	/*mygethelp*/
	#mygethelp-content {
		font-size: 90%; 
	}

	#mygethelp-content blockquote{
		font-size: 90%;
	}

	#mygethelp-content h3{
		font-size: 150%;
		font-weight: bolder;
		letter-spacing: 1px;
	}

	#mygethelp-content h5{
		font-size: 120%;
		font-weight: bold;
	}

	#mygethelp-free-box{
		padding: 0;
	}

	#mygethelp-paid-box{
		padding: 0;
	}

	#mygethelp-visayas-box{
		padding: 0;
	}

	#mygethelp-mindanao-box{
		padding: 0;
	}

	#mygethelp-accordion td{
		word-wrap: break-word;
		padding: 0;
	}

	#mygethelp-top {
		text-decoration: none;
		color: rgba(100,10,10,.5);
		font-size: smaller;
	}

	#mybacktotop {
		font-size: large;
	}
	/*end of mygethelp*/

	/*myread*/
	.myread-image {
		max-height: 10rem;
		max-width: 10rem;
	}

	/*#myread-article4 {
		padding-top: 6rem;
		margin-top: 6rem;
	}*/

	#myread-article3 {
		padding-top: 6.5rem;
		margin-top: 6.5rem;
	}

	#myread-article2 {
		padding-top: 6.5rem;
		margin-top: 6.5rem;
	}

	#myread-article1 {
		padding-top: 6.5rem;
		margin-top: 6.5rem;
	}

	#myread-content #myread-latestarticle {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	#myread-content {
		font-size: 85%;
	}

	#myread-content h1{
		font-size: 200%;
	}

	#myread-content h4{
		font-size: 110%;
	}

	#myread-content h3{
		font-size: 120%;
	}
	/*end of myread*/

	#mydisclaimer {
		font-size: 65%;
	}
}	